{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    <script src="https://kit.fontawesome.com/adb6ee4607.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2b9cdc1c9a.js" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<h3 class="title"><i class="far fa-address-card"></i> {{ title }}</h3>
{% block content %}{% endblock content %}
</body>
</html>