{% extends 'main/base.html' %}

{% block title%}{{ title }}{% endblock title %}

{% block content %}
    {% if my_profile.pk == user.pk %}
        <h3 class="title"><i class="fas fa-users-cog"></i> {{ title }}</h3>
        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            <p class="errors">Unsuccessful. Correct the errors and try again!</p>
            {% endif %}

            {% for f in form %}
            <p class="form"><label>{{ f.label }}</label><i>{{ f }}</i></p>
            <div class="errors">{{ f.errors }}</div>
            {% endfor %}
            <button class="button" type="submit">{{ button }}</button>
        </form>
    {% endif %}
{% endblock content %}
