{% extends 'main/base.html' %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% include 'main/include/message.html' with message_item=message %}
            {% endfor %}
        </div>
    {% else %}
        <div class="messages">
            <p class="no_messages">You haven't messages yet!</p>
        </div>
    {% endif %}
        <div class="panel">
            {% csrf_token %}
            <textarea name="" id="chat-message-input" cols="85" rows="3" required placeholder="Enter message"></textarea>
            <input id="chat-message-submit" type="button" value="Submit">
        </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}

{% block script %}
    {{ chat_id|json_script:"chat_id" }}
    <script src="/static/main/js/chat.js"></script>
{% endblock script %}