{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="p3">
        <p id="p1"><a href="{{ publication.get_absolute_url }}">{{ publication.name }}</a></p>
        <pre class="publish-date"><big>Updated </big>{{ publication.date }}</pre>
    </div>
    <div id="comment_block">
        <h1 id="h1">{{ title }}</h1>
        <div id="create_comment">
            <textarea id="comment_input" cols="85" rows="3" required placeholder="Write comment"></textarea>
            <input id="comment_submit" type="button" value="Отправить" onclick="create_comment()">
        </div>
    </div>
    <div id="comments">
        {% for comment in object_list %}
            <div id="{{ comment.id }}">
                <p class="p4">
                    <a href="{{ comment.users.get_absolute_url }}">{{ comment.users.username }}</a> 
                    {{ comment.date }}{{c}}
                </p>
                <p id="p2"><i>{{ comment.biography|linebreaksbr|safe }}</i></p>
                <p id="p3">
                    <a class="like_comment"  title="Лайки" onclick="action_with_like('{{comment.id}}')">
                        {% if user and user in comment.like.all %}
                            <span class="com_like_{{comment.id}}" id="like">
                                <i class="fas fa-heart"></i> 
                                {{ comment.like.count }}
                            </span>
                        {% else %}
                            <span class="com_like_{{comment.id}}">
                                <i class="fas fa-heart"></i> 
                                {{ comment.like.count }}
                            </span>
                        {% endif %}
                    </a>
                </p>
            </div>
        {% empty %}
            <p id="no-comments"><i class="fas fa-ban"></i> <i>No comments yet, but you can be the first!</i></p>
        {% endfor %}
    </div>
    {{ block.super }}
{% endblock content %}

{% block script %}
    {{ user.id|json_script:"user_id" }}
    {{ publication.id|json_script:"publication_id" }}
    <script src="/static/main/js/comment.js"></script>
{% endblock script %}