{% extends 'main/base.html' %}

{% block title %}{{ publication.name }}{% endblock title %}

{% block content %}
    <div class="p3">
        <p class="aps"><a id="group1" href="{{ publication.group.get_absolute_url }}">{{ publication.group.name|capfirst }}</a></p>
        <p id="p1">{{ publication.name|capfirst }}</p>
        <pre class="publish-date"><big>Обновленно </big>{{ publication.date }}</pre>
        <div class="div123">
            {% if request.user.is_authenticated %}
                <form action="{% url 'add_rating' %}" method="post" name="rating">
                    <b id="my-rating">My rating:</b>
                    {% csrf_token %}
                    <input type="hidden" value="{{ publication.id }}" name="publication">
                    <span class="rating">
                        {% for k, v in star_form.fields.star.choices %}
                            {% if rating.star.value == k %}
                                <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}" checked>
                                <label for="rating{{ v }}">{{ k }}</label>
                            {% else %}
                                <input id="rating1{{ v }}" type="radio" name="star" value="{{ k }}">
                                <label for="rating1{{ v }}">{{ k }}</label>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p id="pb"></p>
                </form>
            {% endif %}
            <b id="user-rating">User rating:</b>
            {% if publication.rat %}
                <span class="editContent">{{ publication.rat }} / 5,0</span>
            {% else%}
                <span class="editContent">None</span>
            {% endif %}
        </div>
        {% if publication.photo %}
            <img src="{{ publication.photo.url }}" alt="photo">
        {% endif %}
        <p id="ap1">{{ publication.biography|linebreaksbr|safe|capfirst }}</p>
    </div>
    <p id="p123">Автор: <a class="owner" id="a1" href="{{ publication.owner.get_absolute_url }}"><i>{{ publication.owner }}</i></a></p>
    <p id="aps1" class="aps">
        <a class="pub-block-comments" href="{% url 'comments' publication.slug %}">
            <i id="pub-comments"><i class="fas fa-comments"></i> Comments: {{ publication.comment_set.count }}</i>
        </a>
    </p>
{% endblock content %}

{% block script %}
<script>
    const rating = document.querySelector('form[name=rating]');

    if (rating) {
        rating.addEventListener("change", addRating);

        function addRating() {
          let data = new FormData(this);
          fetch(`${this.action}`, {
            method: 'POST',
            body: data,
          })
            .then(response => alert('Successfully'))
            .catch(error => alert('Error'))
        };
    };
</script>
{% endblock script %}