{% extends 'main/base.html' %}

{% block content %}
    <h6 class="title" id="groups"><i class="fas fa-user-friends"></i> {{ title }}</h6>
    <div class="block">
        <div class="search">
            <h3 class="Content">{{ name }}</h3>
            <form action="{% url act request.user.pk %}" method="get" class="form">
                <input type="search" name="search" class="input" required="">
                <button type="submit" class="buttonForm">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="mar">
        {% if object_list %}
            {% for obj_user in object_list %}
                {% if act == 'search_followers' %}
                    {% include 'main/include/followers.html' %}
                {% else %}
                    <p>hi lox</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if global %}
            <p class="global_search">Global search</p>
            {% for friend in global %}
                {% if act == 'search_followers' %}
                    {% include 'main/include/followers.html' %}
                {% else %}
                    <p>hi lox</p>
                {% endif %}
            {% endfor %}
        {% elif not global and not object_list %}
            <p id="foo" class="foo"><i class="fas fa-ban"></i> {{ empty|default:"Empty list!" }}</p>
        {% endif %}
    </div>
{% endblock content %}

{% block groups %}
    {% if act == 'search_followers' %}
        {% include 'main/include/aside_followers.html' %}
    {% else %}
        <p>hi lox</p>
    {% endif %}
{% endblock groups %}