{% extends 'main/base.html' %}

{% block content %}
    <div class="block-group-title">
        <span class="group-title"><i class="fas fa-user-friends"></i> {{ title }} |</span>

        <span class="group-block-add">
            <a href="{% url 'add_group' %}"> <i class="fas fa-plus"></i></a>
        </span>
    </div>

    <br><br>

    {% include 'main/include/search.html' %}

    <div class="block-group-list" id="blockGroupList">
        {% if groups %}
            {% for group in groups %}
                {% include 'main/include/group_include.html' %}
            {% endfor %}
        {% else %}
            <p id="no-instances"><i class="fas fa-ban"></i> "You do not have your own groups or groups that you are subscribed to!"</p>
        {% endif %}
    </div>

{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}

{% block script %}
    <script src="/static/main/js/groups_page.js"></script>
{% endblock script %}
