{% extends 'main/base.html' %}

{% block content %}
    <div class="block-group-title">
        <span class="group-title"><i class="fas fa-user-friends"></i> {{ title }} |</span>

        <span class="group-block-add">
            <a href="{% url 'add_group' %}"> <i class="fas fa-plus"></i></a>
        </span>
    </div>

    <br><br>

    <div class="block" id="search">
        <div class="search">
            {% include 'main/include/search.html' %}
        </div>
    </div>

    <div class="block-group-list" id="blockGroupList">
        {% if groups %}
            {% for group in groups %}
                {% include 'main/include/group_include.html' %}
            {% endfor %}
        {% endif %}
        {% if global %}
            <p class="global-search"><span id="global-search-name">Global search</span></p>
            {% for group in global %}
                {% include 'main/include/group_include.html' %}
            {% endfor %}
        {% elif not global and not groups %}
            <p id="no-instances"><i class="fas fa-ban"></i> {{ empty|default:"You do not have your own groups or groups that you are subscribed to!" }}</p>
        {% endif %}
    </div>

{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}
