{% extends 'main/base.html' %}

{% block content %}
    <div id="home">
        <div id="users1">
            {% if user.photo %}
                <img class="photo_frame" src="{{ user.photo.url }}">
            {% else %}
                <div class="photo_frame" id="no-photo">
                    <p>No image</p>
                </div>
            {% endif %}
            <br><br><br>
            <p class="users"><label>First name: </label><i id="i1">{{ user.first_name|default:'None' }}</i></p>
            <p class="users"><label>Last name: </label><i id="i2">{{ user.last_name|default:'None' }}</i></p>
            <p class="users"><label>Email: </label><i id="i3">{{ user.email }}</i></p>
            <p class="users"><label>Mobile number: </label><i id="i4">{{ user.num_tel }}</i></p>
            <p class="users"><label>URL: </label><i id="i5">{{ user.slug }}</i></p>
            <p class="users"><label>Is admin: </label><i id="i6">{{ user.is_superuser }}</i></p>
        </div>
        <div class="user_pk">
            {% if user.pk == request.user.pk %}
                <p id="edit"><a class="model_user" href="#editPhoto">Change a photo</a></p>
            {% else %}
                <a class="button_home" href="{% url 'check' user.pk %}">Send message</a>

                {% if user.id != request.user.id%}
                    <div id="button_home">
                        {% if not i_am_follower %}
                            <p class="act_button" id="sub_user" onclick="sub_user('{{user.id}}')">
                                <i class="fas fa-user-check" id="sub_user_icon"></i> 
                                Subscribe
                            </p>
                        {% endif %}

                        {% if i_am_follower %}
                            <p class="act_button" id="unsub_user" onclick="unsub_user('{{user.id}}')">
                                <i>Unsubscribe</i>
                            </p>
                        {% endif %}

                        {% if i_am_sub %}
                            <p class="act_button" id="block_user" onclick="block_user('{{user.id}}')">
                                <i>Block user</i>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        
        <p id="subs_user">
            <a class="model" href="#openModalSub">
                Followers ({{ count_old_followers }})

                {% if user.pk == request.user.pk and count_new_followers %}
                    <span id="count-new-fol">{{count_new_followers}}</span>
                {% endif %}
            </a>
        </p><br>
        <p><a class="model" href="#openModalSub1">Subscriptions: ({{ subs.count }})</a></p><br>
        <p><a class="model" href="#openModalGroup">Groups ({{ groups.count}})</a></p>
    </div>
    <p id="public">User publicashions</p>

    {% include 'main/include/average_value.html' %}
    {% include 'main/include/modal_user.html' %}

    <!-- modal_edit_photo -->
    <div id="editPhoto" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Upload a photo</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p id="photo">{{ form.photo }}</p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal_edit_group -->
    <div id="openModalGroup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Groups</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    {% if user.pk == request.user.pk %}
                        <p class="groups_home">My groups</p>
                        {% for group in my_groups %}
                            {% include 'main/include/home_include.html' %}
                        {% empty %}
                            <h4>No groups</h4>
                        {% endfor %}
                        <br/><hr>
                        <p class="groups_home">Groups</p>
                    {% endif %}

                    {% for group in groups %}
                        {% include 'main/include/home_include.html' %}
                    {% empty %}
                        <h4>No groups</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="openModalSub1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Subscriptions</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body" id="subscriptionBlock">
                    {% for subscription in subs %}
                        <p class="users_subs" id="subscriptions_{{subscription.subscription_id.id}}">
                            {% if subscription.subscription_id.photo %}
                                <img src="{{ subscription.subscription_id.photo.url }}">
                            {% else %}
                                <span class="user_photo">
                                    <span>No image</span>
                                </span>
                            {% endif %}
                            <a class="group_name" href="{{ subscription.subscription_id.get_absolute_url }}">
                                {{ subscription.subscription_id.get_full_name|default:'Anonymous'|truncatechars_html:20|title }}
                            </a><br><br><br>
                            {% if subscription.subscription_id.id != request.user.id %}
                                <a class="button_home" href="{% url 'check' subscription.subscription_id.id %}">Send message</a>

                                {% if user.pk == request.user.pk %}
                                    <span class="check minus" onclick="remove_subscription('{{subscription.subscription_id.id}}')">
                                        <i class="fas fa-user-check"> Unsub</i>
                                    </span>
                                {% endif %}
                            {% else %}
                                <i>My profile</i>
                            {% endif %}
                            <br>
                        </p>
                    {% empty %}
                        <h4>No subscriptions</h4>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
    {{ block.super }}
{% endblock content %}

{% block script %}
        <script src="/static/main/js/home.js"></script>
{% endblock script %}
