{% extends 'main/base.html' %}

{% block content %}
    <div id="home">
        <div id="users1">
            {% if user.photo %}
                <img class="photo_frame" src="{{ user.photo.url }}">
            {% else %}
                <div class="photo_frame" id="no-photo">
                    <p>No image</p>
                </div>
            {% endif %}
            <br><br><br>
            <p class="users"><label>First name: </label><i id="i1">{{ user.first_name|default:'None' }}</i></p>
            <p class="users"><label>Last name: </label><i id="i2">{{ user.last_name|default:'None' }}</i></p>
            <p class="users"><label>Email: </label><i id="i3">{{ user.email }}</i></p>
            <p class="users"><label>Mobile number: </label><i id="i4">{{ user.num_tel }}</i></p>
            <p class="users"><label>URL: </label><i id="i5">{{ user.slug }}</i></p>
            <p class="users"><label>Is admin: </label><i id="i6">{{ user.is_superuser }}</i></p>
        </div>
        <div class="user_pk">
            {% if user.pk == request.user.pk %}
                <p id="edit"><a class="model_user" href="#editPhoto">Change a photo</a></p>
            {% else %}
                <a class="button_home" href="{% url 'check' user.pk %}">Send message</a>
                <div id="button_home">
                    <!-- {% if owner in users %}
                        <a class="model_user" href="{% url 'friend_activity' user.pk %}" onclick="remove()" id="rem_fr">
                            <i class="fas fa-user-check"></i> Удалить из друзей
                        </a>
                    {% elif not subs %}
                        <a class="button_home" href="{% url 'friend_activity' user.pk %}">Добавить в друзья</a>
                    {% elif subs.0.owner != user.username %}
                        <a class="button_home" href="{% url 'friend_activity' user.pk %}" id="agr_fr" onclick="agree()">
                            Ответить на заявку
                        </a>
                    {% elif subs.0.owner == user.username %}
                        <a class="button_home" href="{% url 'friend_activity' user.pk %}" id="can_fr" onclick="cancel()">
                            Отменить заявку
                        </a>
                    {% endif %} -->
                </div>
            {% endif %}
        </div>
        <p id="subs_user">
            <a class="model" href="#openModalSub">Followers ({{ followers.count }})</a>
        </p><br>
        <p><a class="model" href="#openModalSub1">Subscriptions: ({{ subscriptions.count }})</a></p><br>
        <p><a class="model" href="#openModalGroup">Groups ({{ groups.count}})</a></p>
    </div>
    <p id="public">User publicashions</p>

    {% include 'main/include/average_value.html' %}
    {% include 'main/include/modal_user.html' %}

    <!-- modal_edit_photo -->
    <div id="editPhoto" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Upload a photo</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p id="photo">{{ form.photo }}</p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal_edit_group -->
    <div id="openModalGroup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Groups</h3>
                    <a href="#close" title="Close" class="close">×</a>
                </div>
                <div class="modal-body">
                    {% if user.pk == request.user.pk %}
                        <p class="groups_home">My groups</p>
                        {% for group in my_groups %}
                            {% include 'main/include/home_include.html' %}
                        {% empty %}
                            <h4>No groups</h4>
                        {% endfor %}
                        <br/><hr>
                        <p class="groups_home">Groups</p>
                    {% endif %}
                    {% for group in groups %}
                        {% include 'main/include/home_include.html' %}
                    {% empty %}
                        <h4>No groups</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="openModalSub1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Subscriptions</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                    {% for subscription in subscriptions %}
                        <p class="users_subs" >
                            {% if subscription.subscription_id.photo %}
                                <img src="{{ subscription.subscription_id.photo.url }}">
                            {% else %}
                                <span class="user_photo">
                                    <span>No image</span>
                                </span>
                            {% endif %}
                            <a class="group_name" href="{{ subscription.subscription_id.get_absolute_url }}">
                                {{ subscription.subscription_id.get_full_name|default:'Anonymous'|truncatechars_html:23|title }}
                            </a><br><br><br>
                            {% if subscription.subscription_id.id != request.user.id %}
                                <a class="button_home" href="{% url 'check' subscription.subscription_id.id %}">Send message</a>
                            {% else %}
                                <i>My profile</i>
                            {% endif %}
                        </p><br>
                    {% empty %}
                        <h4>No subscriptions</h4>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
    {{ block.super }}
{% endblock content %}

{% block script %}
<script>
    function remove() {
        if (!confirm('Удалить из друзей?')) {
            rem_fr.href = '';
        }
    }

    function agree() {
        if (!confirm('Добавить в друзья?')) {
            agr_fr.href = '';
        }
    }

    function cancel() {
        if (!confirm('Отменить заявку?')) {
            can_fr.href = '';
        }
    }
</script>
{% endblock script %}
