{% extends 'main/base.html' %}
{% load naturaltime from humanize %}
{% load filter_for_messages %}

{% block content %}
    <p class="user-title"><i class="fas fa-user-friends"></i> {{ title }}</p>

    {% include 'main/include/search.html' %}

    <div id="block-chats" class="messengersBlock">
        {% for chat in chats %}
            <div class="chat">
                {% if chat.set_mes %}
                    {% with last_message=chat.set_mes.0 %}
                        <a class="chat-url" href="{{ chat.get_absolute_url }}">
                            <pre id="pub_date">{{ last_message.pub_date|naturaltime }}</pre>
                            {% for member in chat.members.all %}
                                {% if member.pk != user.pk %}
                                    <p class="aside-block-image">
                                        {% if member.photo %}
                                            <img src="{{ member.photo.url }}">
                                        {% else %}
                                            <div class="photo_frame_mes_user" id="no-photo">
                                                <p class="user-no-photo">No image</p>
                                            </div>
                                        {% endif %}
                                    </p>

                                    <p class="user_name">
                                        <i>{{ member.get_full_name|title|truncatechars_html:40|default:"None" }}</i>
                                    </p>
                                {% endif %}
                            {% endfor %}
                            <p class="{% if not last_message.is_readed %}unreaded{% else %}block-last_messages{% endif %}" id="last_messages">
                                {% if last_message.author_id.id == user.pk %}
                                    <i class="last_messages">
                                        <span class="my-message">Вы:</span> 
                                        {{ last_message|linebreaksbr|safe|truncatechars_html:80|replace_html:"<br>" }}
                                    </i>
                                {% else %}
                                    <i class="last_messages">{{ last_message|linebreaksbr|safe|truncatechars_html:80|replace_html:"<br>" }}</i>
                                {% endif %}
                            </p>
                        </a>
                    {% endwith %}
                {% endif %}
            </div>
        {% empty %}
            <p id="no-messages"><i class="fas fa-ban"></i> You don't have open chats!"</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}

{% block script %}
    <script src="/static/main/js/messengers_page.js"></script>
{% endblock script %}
