{% extends 'main/base.html' %}

{% block content %}
    <p class="user-title"><i class="fas fa-user-friends"></i> {{ title }}</p>
    <div class="block">
        <div class="search">
            <h3 class="Content">{{ name }}</h3>
            <div class="form">
                <input id="search-input" type="search" name="search" class="input" required="">
                <button class="buttonForm" onclick="search()">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="followers-block">
        {% if object_list %}
            {% for obj_user in object_list %}
                {% include 'main/include/my_users.html' %}
            {% endfor %}
        {% elif not object_list %}
            <p id="no-users"><i class="fas fa-ban"></i> No users!</p>
        {% endif %}
    </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside_my_users.html' %}
{% endblock groups %}

{% block script %}
    {% if title == 'My subscriptions' %}
        <script src="/static/main/js/subscriptions_page.js"></script>
    {% elif title == 'My followers' %}
        <script src="/static/main/js/followers_page.js"></script>
    {% endif %}
{% endblock script %}