body {
    background-color: #42cf17;
}

.title {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    margin-bottom: 20px;
}

.form label {
    margin-left: 610px;
    font-size: 17px;
}

.form i {
    float: right;
    margin-right: 600px;
}

.button {
    float: left;
    margin-top: 20px;
    margin-left: 620px;
    font-size: 17px;
}

.a {
    font-size: 18px;
    color: blue;
    margin: 25px 0 100px 40px;
    float: left;
}

.a:hover {
    color: red;
    text-decoration: None;
}

.errors {
    margin-bottom: 10px;
    margin-left: 600px;
    color: red;
}

.p2 {
    font-size: 20px;
    margin-left: 650px;
    margin-bottom: 20px;
}

.p2 #i1 {
    margin-left: 150px;
}

.p2 #i2 {
    margin-left: 106px;
}

.p2 #i3 {
    margin-left: 136px;
}


.p2 #i4 {
    margin-left: 40px;
}

#id2 {
    margin-top: 50px;
    margin-left: 680px;
}

.a3 i{

    font-size: 20px;
    color: blue;

}

.a3 i:hover {
    color: red;
}

.a3 {
    text-decoration: None;
}