<aside id="as">
    <h3>Рекомендуемые {{ recommendation|default:"группы" }}</h3>
    {% for g in object %}
        <div>
            <a href="{{ g.get_absolute_url }}">
                <p id="pc">
                    {% if recommendation %}
                        <i class="fas fa-user"></i> <span>{{ g.get_full_name|title|truncatechars_html:7|default:"Аноним" }}</span>
                    {% else %}
                        <i class="fas fa-users"></i> <span>{{ g.name|title|truncatechars_html:7 }} </span>
                {% endif %}
                </p>
                {% if g.photo %}
                    <img src="{{ g.photo.url }}">
                {% else %}
                    <img src="/media/users/slen/slen.png/">
                {% endif %}
            </a>
        </div>
    {% empty %}
        <p>Нет групп!</p>
    {% endfor %}
    {% block admin %}
    <h2><a id="a" href="/admin/"><i class="fas fa-user-shield"></i> Admin</a></h2>
    {% endblock admin %}
</aside>