<aside id="aside-block">
    <h3>Recommended group</h3>
    {% for group in object %}
        <div class="aside-group">
            <a class="recommend-url" href="{{ group.get_absolute_url }}">
                <p id="aside-group-name">
                    <i class="fas fa-user"></i>
                    <span>{{ group.name|title|truncatechars_html:10 }}</span>
                </p>

                <p class="aside-block-image">
                    {% if group.photo %}
                        <img src="{{ group.photo.url }}">
                    {% else %}
                        <div class="photo_frame" id="no-photo">
                            <p>No image</p>
                        </div>
                    {% endif %}
                </p>
            </a>
        </div>
    {% empty %}
        <p id="recommend-groups">No groups!</p>
    {% endfor %}
    {% block admin %}
    <h2><a id="a" href="/admin/"><i class="fas fa-user-shield"></i> Admin</a></h2>
    {% endblock admin %}
</aside>