{% load naturaltime from humanize %}

<div id="publicationsBlock">
    {% for p in page_obj %}
        <div class="p publicationBlock" id="publicationBlock_{{p.id}}">
            <a class="a1" href="{{ p.get_absolute_url }}">{{ p.name|truncatechars_html:30|capfirst  }}</a>
            {% if p.owner_id == request.user.pk %}
                <a class="pub_menu" id="del" onclick="delete_publication('{{p.id}}')">
                    <i class="fas fa-backspace"></i>
                </a>
                <a class="pub_menu" href="{% url 'update_pub' p.slug %}"><i class="fas fa-pen"></i></a>
            {% endif %}
            <pre>{{ p.date|naturaltime }}</pre>
            <p id="ap">{{ p.biography|linebreaksbr|safe|truncatechars_html:200 }}</p>

            {% if p.photo %}
                <img src="{{ p.photo.url }}" alt="photo"><br><br>
            {% endif %}

            <p id="pub-bottom-info">
                <span class="pub-bottom-item">
                    <b class="rating-label">User rating:</b>
                    {% if p.rat %}
                        <span class="editContent">{{ p.rat }} / 5,0</span>
                    {% else%}
                        <span class="editContent">None</span>
                    {% endif %}
                </span>

                <span class="pub-bottom-item">
                    <i><a class="pub-comments" href="{% url 'comments' p.slug %}"><i class="fas fa-comments"></i> Comments</a></i>
                </span>

                <span id="block-owner" class="pub-bottom-item">Author:
                    <a class="pub-owner" href="{{ p.owner.get_absolute_url }}" title="Owner">
                        <i>{{ p.owner|truncatechars_html:10 }}</i>
                    </a>
                </span>
            </p>
        </div>
    {% empty %}
        <p id="foo"><i class="fas fa-poo"></i> {{ empty|default:"No publications yet!" }}</p>
    {% endfor %}
</div>