<div class="div1">
    <a id='a' href="{{ friend.get_absolute_url }}">
        {% if friend.photo %}
            <img src="{{ friend.photo.url }}">
        {% else %}
            <img src="/media/users/slen/slen.png/">
        {% endif %}
    </a>
    <p class="group_margin">
        <a href="{{ friend.get_absolute_url }}"><i>{{ friend.get_full_name|capfirst|default:'None' }}</i></a>
    </p>
    <a class="us-mes" href="{% url 'check' friend.pk %}">Отправить сообщение</a>
    {% if friend in object_list %}
        <a id="mag1" class="us-mes" href="{% url 'friend_del_primary' friend.pk %}">Удалить из друзей</a>
    {% endif %}
</div>