<div class="block-include-group">
    <a href="{{ p.get_absolute_url }}"><img src="{{ p.photo.url }}"></a>
    
    <p class="group_margin">
        <a href="{{ p.get_absolute_url }}">
            <i>{{ p.name|capfirst }}</i>
        </a>
    </p>

    <a class="del" id="leave_the_group" href="{% url 'group_quit_primary' p.slug %}">
        {% if request.user.id != p.owner_id %}
            <i class="fas fa-backspace"></i>
        {% endif %}
    </a>

    <p class="group_us">
        <span>Followers: {{ p.followers.count }}</span>

        {% if request.user.id == p.owner_id %}
            <span class="block-my-group">My group</span>
        {% endif %}
    </p>
</div>