<div id="openModalSub" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Followers</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                {% if user.pk == request.user.pk and new_followers %}
                    <div id="announcements">
                        <p class="groups_home">Announcements</p>
                        {% for follower in new_followers %}
                            <p class="users_subs" id="follower_{{follower.follower_id.id}}">
                                {% if follower.follower_id.photo %}
                                    <img src="{{ follower.follower_id.photo.url }}">
                                {% else %}
                                    <span class="user_photo">
                                        <span>No image</span>
                                    </span>
                                {% endif %}

                                <a class="group_name" href="{{ follower.follower_id.get_absolute_url }}">
                                    {{ follower.follower_id.get_full_name|default:'Anonymous'|truncatechars_html:20|title }}
                                </a><br><br><br>

                                {% if follower.follower_id.pk == request.user.pk %}
                                    <i>My profile</i>
                                {% endif %}

                                <span class="check plus" onclick="confirm_follower('{{follower.follower_id.id}}')">
                                    <i class="fas fa-user-check"> Ok</i>
                                </span>

                                <span class="check minus" onclick="cancel_follower('{{follower.follower_id.id}}')">
                                    <i class="fas fa-user-check"> Cancel</i>
                                </span>
                            </p>
                        {% endfor %}
                        <br/><hr><br/>
                    </div>
                {% endif %}
                
                <p class="groups_home">Followers</p>
                <div id="old_followers">
                    {% for follower in followers %}
                        <p class="users_subs">
                            {% if follower.follower_id.photo %}
                                <img src="{{ follower.follower_id.photo.url }}">
                            {% else %}
                                <span class="user_photo">
                                    <span>No image</span>
                                </span>
                            {% endif %}

                            <a class="group_name" href="{{ follower.follower_id.get_absolute_url }}">
                                {{ follower.follower_id.get_full_name|default:'Anonymous'|truncatechars_html:20|title }}
                            </a><br><br><br>
                            {% if follower.follower_id.pk != request.user.pk %}
                                <a class="button_home" href="{% url 'check' follower.follower_id.id %}">Send message</a>
                            {% else %}
                                <i>My profile</i>
                            {% endif %}
                        </p><br>
                    {% empty %}
                        <h4 id="no_followers">No followers</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>