<div id="conf" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Подтверждение</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить группу?</p>
                <a class="button_home" id="yes" type="button" href="{% url 'del_group' group.slug %}">Да</a>
                <a class="button_home" type="button" href="#close">Нет</a>
            </div>
        </div>
    </div>
</div>