<div class="follower-block">
    <a id='follower-url' href="{{ obj_user.subscription_id.get_absolute_url }}">
        {% if obj_user.subscription_id.photo %}
            <img src="{{ obj_user.subscription_id.photo.url }}">
        {% else %}
            <div class="photo_frame" id="no-photo">
                <p>No image</p>
            </div>
        {% endif %}
    </a>

    <p class="follower-name">
        <a class="follower-url" href="{{ obj_user.subscription_id.get_absolute_url }}">
            <i>{{ obj_user.subscription_id.get_full_name|capfirst|default:'None' }}</i>
        </a>
    </p>

    <a class="follower-send-message" href="{% url 'check' obj_user.subscription_id.pk %}">Send message</a>

    <a id="mag1" class="follower-block-user" href="{% url 'friend_del_primary' obj_user.subscription_id.pk %}">Block user</a>
</div>