{% extends 'users/base.html' %}

{% block title%}{{ title }}{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% if form.errors %}
    <p class="errors">Такого пользователя не существует!</p>
    {% endif %}

    {% for f in form %}
    <p class="form"><label for="">{{ f.label }}</label><i>{{ f }}</i></p>
    <div class="errors">{{ f.errors }}</div>
    {% endfor %}
    <button class="button" type="submit">Войти</button>

</form>

<a class="a" href="{% url 'register' %}"><i>Зарегистрироваться</i></a>

{% endblock content %}