{% extends 'main/base.html' %}

{% block title %}{{ public.name }}{% endblock title %}

{% block content %}
<div class="p3">
    <p id="p1"><a href="{{ published.get_absolute_url }}">{{ public.name }}</a></p>
    <pre><big>Обновленно </big>{{ public.date }}</pre>
</div>
<div id="comments">
    <h1 id="h1">Комментарии</h1>
    {% if comment %}
    {% for c in comment %}
    <div>
        {% if c.users.first_name and c.users.last_name %}
        <p class="p4"><a href="#">{{ c.users.first_name }} {{ c.users.last_name }}</a> {{ c.date }}</p> {# Оптимизировать вывод пользователей(1 запрос - 1 пользователь, нехорошо) #}
        {% else %}
        <p class="p4"><a href="#">{{ c.users.username }}</a> {{ c.date }}</p> {# Оптимизировать вывод пользователей(1 запрос - 1 пользователь, нехорошо) #}
        {% endif %}
        <p id="p2"><i>{{ c.biography }}</i></p>
        <p id="p3"><a href="#"><i class="fas fa-heart"></i> {{ c.like }}</a><a href="#"> Ответить</a></p>

    </div>
    {% endfor %}
    {% else %}
    <p id="p5"><i>Комментарии отсутсвуют, но вы можете быть первым!</i></p>
    {% endif %}
</div>
{% endblock content %}