{% extends 'main/base.html' %}

{% block title %}{{ group.name }}{% endblock title %}

{% block content %}
    <div id="div">
        {% if group.photo %}
            <img src="{{ group.photo.url }}" alt="{{ group.photo }}">
        {% endif %}
        <p id="title_group">{{ group.name|capfirst }}
            {% if user == user1 and primary %}
                <a class="pub_menu" href="{% url 'update_group' group.slug %}"><i class="fas fa-pen"></i></a>
                <a class="pub_menu" id="del" href="#conf"><i class="fas fa-backspace"></i></a>
            {% endif %}
        </p><br>
        <p class="p1"><a href="#openModalSub">Подписчики: {{ users.count }}</a></p>
        <p class="p1" id="p1">Всего записей: {{ page_obj.paginator.count }}</p>
        <div id="div2">
            {% if user1 in users %}
                <p class="p1"><a href="{% url 'group_activity' group.slug %}">Отписаться</a></p>
                <p id="p2"><a href="{% url 'add_published' group.slug %}"><i class="fas fa-plus"></i> Добавить записть</a></p>
            {% else %}
                <p class="p1"><a href="{% url 'group_activity' group.slug %}">Подписаться</a></p>
            {% endif %}
        </div>
    </div>
    {% include 'main/include/average_value.html' %}
    {% include 'main/include/modal_user.html' %}
    {% include 'main/include/modal-del.html' %}
    {{ block.super }}
{% endblock %}