{% extends 'main/base.html' %}

{% block title %}{{ published.name }}{% endblock title %}

{% block content %}
<div class="p3">
    <p class="aps"><a id="group1" href="{{ published.group.get_absolute_url }}">{{ published.group.name }}</a></p>
    <p id="p1">{{ published.name }}</p>
    <pre><big>Обновленно </big>{{ published.date }}</pre>
    {% if published.photo %}
    <img src="{{ published.photo.url }}" alt="photo">
    {% endif %}
    <p id="ap1">{{ published.biography|linebreaksbr }}</p><br><br>
</div>
<p id="aps" class="aps">
    <a href="" title="Лайки"><i class="fas fa-thumbs-up"></i> {{ published.userpublishedrelationrate_set.all }}</a>
    <a href="{% url 'comments' published.slug %}"><i id="ia1"><i class="fas fa-comments"></i> {{ published.comments_set.count }}</i></a>
    <a href="" title="Дизлайки"><i class="fas fa-thumbs-down"></i> {{ published.dislike }}</a>
</p>
<p id="ia">

</p>
{% endblock content %}