{% extends 'main/base.html' %}

{% block title %}{{ group.name }}{% endblock title %}

{% block content %}
<div id="div">
    {% if group.photo %}
    <img src="{{ group.photo.url }}" alt="{{ group.photo }}"><br>
    {% else %}
    <i id="img"><a href="#"><i class="fas fa-users"></i>  Добавить фото</a></i>
    {% endif %}
    <p id="title">{{ group.name }}</p><br>
    <p class="p1"><a href="#openModal">Подписчики: {{ g.count }}</a></p>
    <p class="p1" id="p1">Всего записей: {{ group.published_set.count }}</p>
    <p class="'p1" id="p2"><a href="#"><i class="fas fa-plus"></i> Добавить записть</a></p>
    <div id="div2">
        {% if request.user.is_authenticated %}
        {% if q == request.user.username %}
        <p class="p1"><a href="{% url 'group_quit' group.slug %}">Отписаться</a></p>
        {% else %}
        <p class="p1"><a href="{% url 'group_enter' group.slug %}">Подписаться</a></p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% if page_obj %}
{% for p in page_obj %}
<div class="p">
    <a class="a1" href="{{ p.get_absolute_url }}">{{ p.name }}</a>
    <pre>{{ p.date }}</pre>
    <p id="ap">{{ p.biography|linebreaksbr|truncatechars_html:200 }}</p>
    {% if p.photo %}
    <img src="{{ p.photo.url }}" alt="photo"><br><br>
    {% endif %}
    <p id="aps">
        <a href="" title="Лайки"><i class="fas fa-thumbs-up"></i> {{ p.like }}</a>
        <i><a href="{% url 'comments' p.slug %}"><i class="fas fa-comments"></i> Комментарии</a></i>
        <a href="" title="Дизлайки"><i class="fas fa-thumbs-down"></i> {{ p.dislike }}</a>
    </p>
</div>
{% endfor %}
{% else %}
<p id="foo"><i class="fas fa-poo"></i> Записи отсутствуют</p>
{% endif %}

<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Подписчики</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p><i>Имя и фамилия</i><i id="i">Электронная почта</i></p><br>
                {% for us in g %}
                <p id="users">
                    <a href="#">{{ us.first_name }} {{ us.last_name }}</a>
                    <a id="a" href="#">{{ us.email }}</a>
                </p><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock content %}
