{% extends 'main/base.html' %}

{% block title %}{{ published.name }}{% endblock title %}

{% block content %}
<div class="p3">
    <p id="p1">{{ published.name }}</p>
    <pre><big>Обновленно </big>{{ published.date }}</pre>
    <img src="{{ published.photo.url }}" alt="photo">
    <p id="ap1">{{ published.biography|linebreaksbr }}</p><br><br>
</div>
<p id="aps" class="aps">
        <a href=""><i class="fas fa-heart"></i> {{ published.like }}</a>
        <i><a href="{% url 'comments' %}"><i class="fas fa-comments"></i> Комментарии</a></i>
        <a href=""><i class="fas fa-heart-broken"></i> {{ published.dislike }}</a>
    </p>
{% endblock content %}