{% extends 'main/base.html' %}

{% block title%}{{ title }}{% endblock title %}

{% block content %}
    <h6 class="title" id="groups"><i class="fas fa-user-friends"></i> {{ title }} |</h6>
    <p id="aps" class="pa">
        <div class="ss">
            <a href="{% url 'add_group' %}"> <i class="fas fa-plus"></i></a>
        </div>
    </p>
    <br><br>

    <div class="block">
        <div class="search">
            {% include 'main/include/search.html' %}
        </div>
    </div>

    <div class="mar">
        {% for p in groups %}
            <div id="div1">
                <a href="{{ p.get_absolute_url }}"><img src="{{ p.photo.url }}"></a>
                <p id="margin"><a href="{{ p.get_absolute_url }}"><i>{{ p.name|capfirst }}</i></a></p>
                <a id="del" href="{% url 'group_quit_primary' p.slug %}"><i class="fas fa-backspace"></i></a>
                <p id="p">Подписчиков: {{ p.users.count }}</p>
            </div>
        {% empty %}
            <p id="foo" class="foo"><i class="fas fa-ban"></i> Вы не вступали в группы</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}