{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div id="home">
    <div id="users1">
        {% if user.photo %}
        <img src="{{ user.photo.url }}">
        {% else %}
        <img src="/media/users/slen/slen.png/">
        {% endif %}
        <br><br><br>
        <p class="users"><label>Имя: </label><i id="i1">{{ user.first_name|default:'None' }}</i></p>
        <p class="users"><label>Фамилия: </label><i id="i2">{{ user.last_name|default:'None' }}</i></p>
        <p class="users"><label>Email: </label><i id="i3">{{ user.email }}</i></p>
        <p class="users"><label>Номер телефона: </label><i id="i4">{{ user.num_tel }}</i></p>
        <p class="users"><label>URL: </label><i id="i5">{{ user.slug }}</i></p>
        <p class="users"><label>Статус админа: </label><i id="i6">{{ user.is_superuser }}</i></p>
    </div>
    <div class="user_pk">
        {% if user.pk == request.user.pk %}
            <a class="model_user" href="#openModal">Изменить фото</a>
        {% else %}
            <a class="button_home" href="#">Отправить сообщение</a>
            <div id="button_home">
                {% if yes %}
                    <a class="model_user" href="{% url 'friend_del_primary' user.pk %}"><i class="fas fa-user-check"></i> Удалить из друзей</a>
                {% else %}
                    <a class="button_home" type="button" href="{% url 'friend_add_primary' user.pk %}">Добавить в друзья</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <p><a class="model" href="#openModalSub">Друзья ({{ users.count }})</a></p>
    <p><a class="model" href="#openModal1">Группы ({{ group.count }})</a></p>
</div>
<p id="public">Записи пользователя</p>

{% include 'main/include/average_value.html' %}
{% include 'main/include/modal_user.html' %}

<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Загрузить фото</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p id="photo">{{ form.photo }}</p>
                    <button type="submit">Сохранить и продолжить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock content %}
