{% extends 'main/base.html' %}

{% block title%}{{ title }}{% endblock title %}

{% block content %}
{% for p in public %}
<div class="p">
    <a class="a1" href="{{ p.get_absolute_url }}">{{ p.name }}</a>
    <pre>{{ p.date }}</pre>
    <p id="ap">{{ p.biography|linebreaksbr|truncatechars_html:200 }}</p>
    {% if p.photo %}
    <img src="{{ p.photo.url }}" alt="photo"><br><br>
    {% endif %}
    <p id="aps">
        <a href=""><i class="fas fa-heart"></i> {{ p.like }}</a>
        <i><a href="{% url 'comments' %}"><i class="fas fa-comments"></i> Комментарии</a></i>
        <a href=""><i class="fas fa-heart-broken"></i> {{ p.dislike }}</a>
    </p>
</div>
{% endfor %}
{% endblock content %}

{% block groups %}
<aside id="as">
    <h3>Рекомендуемые группы</h3>
    {% for g in group %}
    <div>
        <a href="{{ g.get_absolute_url }}"><p id="pc"><i class="fas fa-users"></i> {{ g.name|default:"nothing" }}</p>
        </a>
        {% if g.photo %}
        <a href="{{ g.get_absolute_url }}"><img src="{{ g.photo.url }}"></a>
        {% endif %}
    </div>
    {% endfor %}
    {% block admin %}
    <h2><a id="a" href="/admin/"><i class="fas fa-user-shield"></i> Admin</a></h2>
    {% endblock admin %}
</aside>
{% endblock groups %}