{% extends 'main/base.html' %}

{% block title%}{{ title }}{% endblock title %}

{% block content %}
{% include 'main/include/average_value.html' %}
{{ block.super }}
{% endblock content %}

{% block groups %}
<aside id="as">
    <h3>Рекомендуемые группы</h3>
    {% for g in group %}
    <div>
        <a href="{{ g.get_absolute_url }}"><p id="pc"><i class="fas fa-users"></i> {{ g.name|default:"nothing" }}</p>
        </a>
        {% if g.photo %}
        <a href="{{ g.get_absolute_url }}"><img src="{{ g.photo.url }}"></a>
        {% endif %}
    </div>
    {% empty %}
    <p>Извините, таких групп нет!</p>
    {% endfor %}
    {% block admin %}
    <h2><a id="a" href="/admin/"><i class="fas fa-user-shield"></i> Admin</a></h2>
    {% endblock admin %}
</aside>
{% endblock groups %}