{% extends 'main/base.html' %}
{% block content %}
    <h6 class="title" id="groups"><i class="fas fa-user-friends"></i> {{ title }}</h6>
    <div class="block">
        <div class="search">
            {% include 'main/include/search.html' %}
        </div>
    </div>
    <div id="mar_can">
        {% for p in chats %}
            {% if p.message_set.count %} <!-- Оптимизировать -->
                {% with last_message=p.message_set.last %} <!-- Оптимизировать -->
                <a class="chat" href="{{ p.get_absolute_url }}">
                    <pre id="pub_date">{{ last_message.pub_date }}</pre>
                    {% for us in p.members.all %}
                        {% if us.pk != user.pk %}
                        <img src="{%if us.photo %}{{ us.photo.url }}{% else %}/media/users/slen/slen.png/{% endif %}">
                        <p id="us_name"><i>{{ us.get_full_name|title|truncatechars_html:40|default:"None" }}</i></p>
                        {% endif %}
                    {% endfor %}
                    <p class="{% if not last_message.is_readed %}unreaded{% endif %}" id="last_messages">
                        {% if last_message.author_id == user.pk %}
                            <i class="last_messages">Вы: {{ last_message|linebreaksbr|safe|truncatechars_html:66 }}</i>
                        {% else %}
                            <i class="last_messages">{{ last_message|linebreaksbr|safe|truncatechars_html:60 }}</i>
                        {% endif %}
                    </p>
                </a>
                {% endwith %}
            {% endif %}
        {% empty %}
            <p id="foo" class="foo"><i class="fas fa-ban"></i> У вас нет начатых диалогов!"</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}