{% extends 'main/base.html' %}
{% block content %}
    <h6 class="title" id="groups"><i class="fas fa-user-friends"></i> {{ title }}</h6>
    <div class="block">
        <div class="search">
            {% include 'main/include/search.html' %}
        </div>
    </div>
    <div class="mar">
        {% for p in chats %}
            {% if p.message_set.count != 0 %}
                {% with last_message=p.message_set.last %}
                <div class="div1">
                    <pre id="pub_date">{{ last_message.pub_date }}</pre>
                    {% for us in p.members.all %}
                        {% if us.pk != user.pk %}
                            <a id="us_a" href="{{ p.get_absolute_url }}">
                                <img src="{%if us.photo %}{{ us.photo.url }}{% else %}/media/users/slen/slen.png/{% endif %}">
                                <p class="group_margin" id="us_name"><i>{{ us.get_full_name|default:"None" }}</i></p>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <p class="group_margin" id="messages">
                        {% if last_message.author.pk == user.pk %}
                            <i>Вы: {{ last_message }}</i>
                        {% else %}
                            <i>{{ last_message }}</i>
                        {% endif %}
                    </p>
                </div>
                {% endwith %}
            {% endif %}
        {% empty %}
            <p id="foo" class="foo"><i class="fas fa-ban"></i> У вас нет начатых диалогов!"</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block groups %}
    {% include 'main/include/aside.html' %}
{% endblock groups %}