.block-group-title {
    margin-left: 41%;
    margin-top: 50px;
}

.block-group-title .group-title {
    font-size: 28px;
    
}

.group-block-add a {
    font-size: 22px;
    color: blue;
    margin-bottom: 0px;
}

.group-block-add a:hover {
    color: red;
}



.block-include-group {
    width: 920px;
    height: 33px;
    padding: 10px 30px 100px 20px;
    margin: 50px 190px -20px 20%;
    background-color: #ADFF2F;
    box-shadow: 0 0 10px #666;
}

.block-include-group #us_mar {
    margin-top: -200px;
}

.block-include-group #pub_date {
    float:right;
    font-size: 16px;
    color: gray;
    width: 200px;
    margin: 5px 0 0 0;
}

.block-include-group #us_name {
    font-size: 25px;
    margin: 2px 400px -10px 180px;
}

.block-include-group #messages {
    background-color: #2E8B57;
    font-size: 21px;
    padding: 5px;
    margin: 40px 5px 0 170px;
}

.block-include-group img {
    margin-right: 70px;
    float: left;
    border-radius: 140px;
    box-shadow: 0 0 19px #666;
    width: 120px;
    height: 120px;
    border: solid 1px black;
}

.block-include-group a {
    font-size: 22px;
    color: blue;
    text-decoration: None;
}

.block-include-group a:hover, .div1 .del:hover {
    color: red;
}

.block-include-group img:hover {
    transform: scale(1.03);
}

.block-include-group .del {
    float: right;
    margin: -65px -11px 0 0;
    color: black;
}

.block-include-group .group_margin{
    margin: 24px 0 17px 0;
}

.block-include-group .group_us {
    font-size: 18px;
}

.block-include-group .us-mes {
    font-size: 19px;
}

.block-include-group #mag1, .block-include-group #mag2 {
    margin-left: 60px;
}

.block-include-group #mag2 {
    padding: 5px;
    font-size: 18px;
    border: solid 2px gray;
    background-color: white;
    color: black;
}

.block-include-group #mag2:hover {
    background-color: yellow;
}

.block-include-group .block-my-group {
    color: rgb(71, 65, 65);
    float: right;
    width: 50%;
}

#errors {
    text-align: center;
    margin-left: 0px;
}

#groups {
    margin-right: 300px;
}

#title_group .pub_menu {
    float: None;
    color: gray;
    padding: 0px;
    font-size: 15px;
    margin-left: 0px;
}

#conf .modal-dialog {
    margin-top: 200px;
}

#conf .modal-body  {
    text-align: center;

}

#conf .modal-body p {
    margin-bottom: 20px;
}

#conf .modal-body a {
    font-size: 21px;
}

#conf .modal-body #yes {
    padding: 5px 10px;
    margin: 0 50px 0 -17px;
}

#openModalSub .modal-title {
    margin-left: 175px;
}

#openModalGroup .modal-title {
    margin-left: 190px;
}

.global-search {
    margin: 70px 0px -20px 0px;
    border-top: solid 2px;
    font-size: 22px;
    padding-top: 10px;
    color: #382736;
}

.global-search #global-search-name {
    margin-left: 30%;
    font-size: 23px;
}

#title_group {
    text-align: center;
    font-size: 35px;
    margin: 0px 0 20px 0;
}