#home {
    padding: 10px 30px 30px 20px;;
    margin: 12px;
    box-shadow: 0 0 10px #666;
    border: solid 2px green
}

#users1 {
    margin: 40px 0 130px 300px;
}

#users1 .photo_frame {
    height: 460px;
    width: 360px;
    float: left;
    box-shadow: 0 0 10px #666;
    margin-right: 70px;
}

#users1 #no-photo {
    background-color: aliceblue;
}

#users1 #no-photo p {
    text-align: center;
    font-size: 24px;
    margin-top: 60%;
}

#users1 .users {
    margin: 0 50px 35px 0;
    font-size: 19px;
}

#users1 .users #i1 {
    margin-left: 137px;
}

#users1 .users #i2 {
    margin-left: 137px;
}

#users1 .users #i3 {
    margin-left: 169px;
}

#users1 .users #i4 {
    margin-left: 95px;
}

#users1 .users #i5 {
    margin-left: 174px;
}

#users1 .users #i6 {
    margin-left: 143px;
}

.model, .model_user {
    color: blue;
    text-decoration: None;
    font-size: 19px;
}

.model:hover, .model_user:hover {
    color: red;
}

.model, .user_pk {
    margin: 0px 0px 20px 390px;
}

.user_pk #edit {
    margin: -20px 0 30px 0;
}

#button_home {
    margin-top: 25px;
}

.button_home {
    padding: 5px;
    font-size: 18px;
    border: solid 2px gray;
    color: black;
    background-color: white;
    text-decoration: None;
}

.button_home:hover {
    background-color: yellow;
}

.modal-body #photo {
    font-size: 15px;
    margin: 0 0 20px 50px;
}

.modal-body button {
    float: right;
    margin-right: 25px;
    font-size: 15px;
}

#public {
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    margin: 30px 0 -15px 0;
}

#users_home, .users_subs {
    width: 350px;
    height: 102px;
    padding: 10px;
    border: solid 2px;
    margin: 0px 0 10px 30px;
}

#users_home img, .users_subs img, .users_subs .user_photo {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 1px black;
    margin: 0px 25px -5px 0px;
}

.users_subs .user_photo span {
    margin-right: 13px;
    float: right;
    margin-top: 37px;
}

#users_home img:hover, .group_name:hover, .users_subs img:hover{
    transform: scale(1.05);
    color: red;
}

#subs_user i {
    font-size: 17px;
    border: solid 2px gray;
    border-radius: 20px;
    padding: 0 4px;
    background-color: gray;
}

#del_us {
    float: right;
    text-decoration: None;
    font-size: 17px;
    height: 15px;
    color: gray;
}

#del_us:hover {
    color: red;
}

.users_subs .group_name {
    text-decoration: None;
    margin-top: 20px;
}

.users_subs .button_home {
    font-size: 18px;
    padding: 4px;
}

.users_subs .primary {
    color: blue;
    font-size: 17px;
}

.users_subs .primary:hover {
    color: red;
}

.users_subs #primary {
    margin-left: 15px;
}

.group_name {
    font-size: 20px;
    color: blue;
    float: left;
    margin: 30px 0px 0px 0px;
}

#group_count {
    margin: -78px 0 0 185px;
    font-size: 15px;
    color: gray;
}

#group_count:hover {
    transform: None;
}

.pub_menu {
    float: right;
    padding: 4px;
    color: black;
    font-size: 17px;
    margin-left: 5px;
}

#del {
    font-size: 18px;
}

.pub_menu:hover {
    color: red;
}

#openModalGroup .modal-body {
    margin-top: -20px;
}

.groups_home {
    text-align: center;
    margin: 10px 0 15px 0;
}

.users_subs .check {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.users_subs .check:hover {
    color: red;
}

.users_subs .minus {
    margin-left: 20px;
    color: rgb(189, 45, 45);
}

.users_subs .del-sub {
    color: rgb(189, 45, 45);
    margin-left: 20px;
}

.users_subs .del-sub:hover {
    color: red;
}

#subs_user .model #count-new-fol {
    background-color: #a09797;
    border-radius: 50%;
    padding: 0px 5px;
}