.pa {
    margin: -30px 0 -70px 760px;
}

.pa i {
    margin-right: -70px;
}

.ss a {
    float: right;
    margin: -5px 670px 0 0;
    font-size: 22px;
    color: blue;
}

.ss a:hover {
    color: red;
}

.mar {
    margin: 0px 0 150px 0;
}

.div1 {
    width: 920px;
    height: 30px;
    padding: 10px 30px 100px 20px;;
    margin: 50px 190px -20px 370px;
    background-color: #ADFF2F;
    box-shadow: 0 0 10px #666;
}

.div1 #us_mar {
    margin-top: -200px;
}

.div1 #pub_date {
    float:right;
    font-size: 16px;
    color: gray;
    width: 200px;
    margin: 5px 0 0 0;
}

.div1 #us_name {
    font-size: 25px;
    margin: 2px 400px -10px 180px;
}

.div1 #messages {
    background-color: #2E8B57;
    font-size: 21px;
    padding: 5px;
    margin: 40px 5px 0 170px;
}

.div1 img {
    margin-right: 70px;
    float: left;
    border-radius: 140px;
    box-shadow: 0 0 19px #666;
    width: 120px;
    height: 120px;
    border: solid 1px black;
}

.div1 a {
    font-size: 22px;
    color: blue;
    text-decoration: None;
}

.div1 a:hover, .div1 .del:hover {
    color: red;
}

.div1 img:hover {
    transform: scale(1.03);
}

.div1 .del {
    float: right;
    margin: -65px -11px 0 0;
    color: black;
}

.div1 .group_margin{
    margin: 24px 0 17px 0;
}

.div1 .group_us {
    font-size: 18px;
}

.div1 .us-mes {
    font-size: 19px;
}

.div1 #mag1, .div1 #mag2 {
    margin-left: 60px;
}

.div1 #mag2 {
    padding: 5px;
    font-size: 18px;
    border: solid 2px gray;
    background-color: white;
    color: black;
}

.div1 #mag2:hover {
    background-color: yellow;
}

#errors {
    text-align: center;
    margin-left: 0px;
}

#groups {
    margin-right: 300px;
}

#title_group .pub_menu {
    float: None;
    color: gray;
    padding: 0px;
    font-size: 15px;
    margin-left: 0px;
}

#conf .modal-dialog {
    margin-top: 200px;
}

#conf .modal-body  {
    text-align: center;

}

#conf .modal-body p {
    margin-bottom: 20px;
}

#conf .modal-body a {
    font-size: 21px;
}

#conf .modal-body #yes {
    padding: 5px 10px;
    margin: 0 50px 0 -17px;
}

#openModalSub .modal-title {
    margin-left: 175px;
}

#openModalGroup .modal-title {
    margin-left: 190px;
}

.global_search {
    text-align: center;
    margin: 70px 0px -20px 0px;
    border-top: solid 2px;
    font-size: 22px;
    padding-top: 10px;
    color: #382736;
}

#title_group {
    text-align: center;
    font-size: 35px;
    margin: 0px 0 20px 0;
}