#home {
    padding: 10px 30px 30px 20px;;
    margin: 12px;
    box-shadow: 0 0 10px #666;
    border: solid 2px green
}

#users1 {
    margin: 40px 0 130px 300px;
}

#users1 img {
    height: 460px;
    width: 360px;
    float: left;
    box-shadow: 0 0 10px #666;
    margin-right: 70px;
}

#users1 .users {
    margin: 0 50px 35px 0;
    font-size: 19px;
}

#users1 .users #i1 {
    margin-left: 137px;
}

#users1 .users #i2 {
    margin-left: 93px;
}

#users1 .users #i3 {
    margin-left: 120px;
}

#users1 .users #i4 {
    margin-left: 30px;
}

#users1 .users #i5 {
    margin-left: 125px;
}

#users1 .users #i6 {
    margin-left: 43px;
}

.model, .model_user {
    color: blue;
    text-decoration: None;
    font-size: 19px;
}

.model:hover, .model_user:hover {
    color: red;
}

.model, .user_pk {
    margin: 20px 0px 20px 390px;
}

#button_home {
    margin-top: 25px;
}

.button_home {
    padding: 5px;
    font-size: 18px;
    border: solid 2px gray;
    color: black;
    background-color: white;
    text-decoration: None;
}

.button_home:hover {
    background-color: yellow;
}

.modal-body #photo {
    font-size: 15px;
    margin: 0 0 20px 50px;
}

.modal-body button {
    margin-left: 125px;
    font-size: 15px;
}

#public {
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    margin: 30px 0 -15px 0;
}