.chat_error {
    text-align: center ;
    margin-top: 300px;
    font-size: 20px;
}

.messages {
    overflow: auto;
    height: 500px;
}

.messages, .panel {
    border: solid 2px gray;
    margin: 20px 300px 0 400px;
    background-color: #FFFFF0;
    box-shadow: 0 0 10px #666;
}

.messages_us {
    margin: 15px 10px 20px 40px;
    padding: 10px 0px 10px 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px;
    border: solid 1px black;
}

.reply-body {
    margin-left: 75px;
}

.reply-body .username {
    text-decoration: None;
    font-size: 22px;
    color: blue;
}

.reply-body .username:hover {
    color: red;
}

.reply-body .pub_date {
    float: right;
    font-size: 16px;
    color: black;
    margin: 6px 15px 0 0;
}

.reply-body .text, .p #ap, #comments #p2 {
    word-wrap: break-word;
}

.reply-body .text {
    font-size: 18px;
    margin: 10px 23px 0 0;
    word-wrap: break-word;
}

.unreaded {
    background-color: #DCDCDC;
}

.no_messages {
    text-align: center;
    font-size: 20px;
    margin: 200px 0;
}

.panel {
    margin-bottom: 100px;
    padding: 5px;
    background-color: #5F9EA0;
}

.panel p {
    margin-left: 20px;
}

.panel button {
    float: right;
    margin: -62px 3px 0 0;
    font-size: 18px;
    padding: 6px;
}

#mar_can {
    margin-top: 100px;
}

.chat {
    text-decoration: None;
    border: solid 1px gray;
    box-shadow: 0 0 10px #666;
    float: right;
    height: 100px;
    width: 900px;
    margin: -60px 250px 80px 0px;
    background-color: #7FFF00;
    padding: 6px 6px 8px 6px;
    color: black;
}

.chat:hover {
    background-color: #F8F8FF;
}

.chat #pub_date {
    float: right;
    font-size: 15px;
    color: #696969;
    margin: 12px 25px 0 0;
}

.chat img {
    margin: -70;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 60px;
    border: solid 1px black;
}

.chat #us_name {
    margin: 10px 0 10px 130px;
    font-size: 25px;
}

.chat #last_messages {
    float: bottom;
    margin: 16px 50px 0 130px;
    font-size: 20px;
    color: blue;
    padding: 4px 0;
}