* {
    margin: 0px;
}

body {
    background-color: #42cf17;
}

.p {
    padding: 10px;
    margin: 50px 0 50px 400px;
    width: 640px;
    box-shadow: 0 0 9px #666;
}

.p:hover {
    border: solid 2px;
}

.a1 {
    margin-left: 10px;
    font-size: 23px;
    text-decoration: None;
    color: blue;
}

.p pre {
    margin-left: 10px;
}

.a1:hover {
    border-bottom: solid 3px black;
    color: red;
}

.p p {
    font-size: 18px;

}

.p img {
    margin-left: 60px;
    width: 500px;
}

#menu {
    margin: 0 70px 0 50px;
    font-size: 20px;
    color: blue;
    text-decoration: None;
}

#menu:hover {
  color: red;
}

.log {
    float: right;
    font-size: 20px;
    margin-right: 50px;
    color: red;
}

.log a{
    text-decoration: None;
    color: blue;
}

.log a:hover {
  color: red;
}

header {
    border-bottom: solid 5px gray;
    padding: 20px;
    background-color: black;
}

#as {
    border-right: solid 4px gray;
    border-bottom: solid 4px gray;
    float: left;
    padding: 20px 15px;
}

#as img {
    width: 100px;
    height: 100px;
}

#as a {
    text-decoration: None;
    font-size: 17px;
    color: blue;
}

#as p {
    margin: 0 0 5px 5px;
}

#as p:hover {
    color: red;
}

#as div {
    margin: 0 0 20px 40px;
    width: 110px;
}

#as div:hover {
    border: solid 1px;
}

#as h3 {
    margin-bottom: 20px;
}

.p #ap {
    padding: 10px;
}

#aps a {
    text-decoration: None;
    font-size: 18px;
    margin: 0 30px 0 88px;
    color: blue;
}

#aps a:hover {
    color: red;
}

#as #a {
    color: yellow;
    font-size: 20px;
    margin-left: 45px;
}

#as #a:hover {
    color: red;
}

.p3 {
    margin: 20px 70px 0 100px;

}

.p3 #p1 {
    text-align: center;
    font-size: 35px;
}

.p3 #p1 a {
text-decoration: None;
color: blue;
}

.p3 #p1 a:hover {
    color: red;
}

.p3 img {
    float: left;
    width: 400px;
    padding: 30px;
}

.p3 pre {
    text-align: center;
    margin-bottom: 10px;
}

.p3 #ap1 {
    font-size: 18px;
    margin-top: 50px;
}

.aps {
    margin-top 50px;
    text-align: center;
}

#comments #h1 {
    text-align: center;
    margin: 50px 0   0 30px;
}

#comments div {
    margin: 40px 150px;
    background-color: #ADFF2F;
    box-shadow: 0 0 10px black;
}

#comments .p4 a {
    text-decoration: None;
    color: #0000CD;
    font-size: 18px;
}

#comments .p4 {
    padding: 12px;
}

#comments .p4 a:hover {
    color: #DC143C;
}

#comments #p2 {
    font-size: 17px;
    margin: 0 15px ;
    padding: 10px;
    border: solid 1px gray;
    background-color: #2E8B57;
    color: white;
}

#comments #p3 {
    padding: 10px 10px 10px 15px;
}

#comments {
    margin-bottom: 100px;
}

#comments #p5 {
    text-align: center;
    margin: 70px 0 70px 40px;
    font-size: 17px;
}

#p3 a {
    color: blue;
    text-decoration: None;
    margin-right: 20px;
}

#p3 a:hover {
    color: red;
}

.nav  {
    text-align: center;
    font-size: 23px;
    margin-bottom: 50px;
}

.nav a {
    text-decoration: None;
    margin-right: 20px;
    color: blue;
    border: solid 1px;
    border-radius: 50px;
    padding: 10px 16px;
    box-shadow: 0 0 10px gray;
}

.nav .i {
    margin-right: 20px;
}

.nav a:hover {
    color: red;
}

.form1 {
    font-size: 18px;
    margin: 20px 20px 30px 560px;
}

.form1 label {
    margin-right: 70px;
}

.button1 {
    font-size: 18px;
    margin: 0 0 0 580px;
    color: blue;
}

.button1:hover {
    color: red;
}

#com {
    color: blue;
    text-decoration: None;
    font-size: 18px;
    margin-left: 200px;
}

#com:hover {
    color: red;
}

#div {
    padding: 30px;
    margin: 10px 10px 0 10px;
    border: solid 2px green;
    box-shadow: 0 0 10px #666;
}

#div img {
    margin-left: 150px;
    float: left;
    border-radius: 200px;
    border: solid 4px red;
    box-shadow: 0 0 9px #666;
    width: 200px;
    height: 200px;
}

#div #img {
    float: left;
    margin-left: 150px;
    font-size: 20px;
    border-radius: 300px;
    border: solid 4px red;
    padding: 87px 17px;
}

#div #title {
    margin: 0 0 20px 720px;
    font-size: 35px;
}

#div .p1 {
    margin: 0 0 20px 460px;
    font-size: 20px;
}

#div #p1 {
    margin-bottom: 44px;
}

#div a {
    color: blue;
    text-decoration: None;
}

#div a:hover {
    color: red;
}

#div #p2 {
    margin-left: 460px;
}

#foo  {
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}

#foo i {
    font-size: 30px;
}

#as3 {
    float: left;
    padding: 30px;
    margin: 330px 10px 0 10px;
    border: solid 2px green;
    box-shadow: 0 0 10px #666;
}



/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 25px 30px;
    overflow: auto;
    font-size: 19px;
}

.modal-body #i {
    float: right;
}

#users a {
    text-decoration: None;
    color: blue;
}

#users a:hover {
    color: red;
}

#users #a {
    float: right;
}

.quit1 {
    text-decoration: None;
    color: black;
    font-size: 20px;
}

.quit {
    padding: 10px;
    margin: 150px 682px 0 660px;
    border: solid 2px white;
    background-color: #ADFF2F;
}

.quit:hover {
    background-color: red;
    border: solid 2px black;
}

#div2 .p1 {
    float: right;
    margin: -90px 150px 0 0;
}